*.vcxproj
*.idea
*x64
*.vs
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*bin
*bin-int

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sln
Sable/update-profile.json
Sable/startup-profile.json
Sable/shutdown-profile.json
