[submodule "Shake_Engine/vendor/spdlog"]
	path = Shake_Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Shake_Engine/vendor/GLFW"]
	path = Shake_Engine/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Shake_Engine/vendor/imgui"]
	path = Shake_Engine/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Shake_Engine/vendor/glm"]
	path = Shake_Engine/vendor/glm
	url = https://github.com/g-truc/glm.git
